.password-reset-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7fafc;
  }
  
  .password-reset-form__container {
    width: 400px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 32px;
    text-align: center;
  }
  
  .password-reset-form__header {
    margin-bottom: 22px;
  }
  
  .password-reset-form__title {
    font-size: 24px;
    font-weight: bold;
    margin-top:70px;
  }
  
  .password-reset-form__description {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 22px;
  }
  
  .password-reset-form__input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    align-items: center;
    gap: 15px;
  }
  
  .password-reset-form__label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .password-reset-form__input {
    display: block;
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 1.5;
    color: #374151;
    background-color: #f3f4f6;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  
  .password-reset-form__input:focus {
    outline: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .password-reset-form__button {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 39px;
    background-color: #5d87ff;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 70px ;
    color: #fff;
    border-color: transparent;
  }
  
  .password-reset-form-submit{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }